{% extends "learning_blog_app/base.html" %}

{% block header %}
    <h1>
        Topics
        <div style="float:right"><a class="btn btn-primary btn-lg" href="{% url 'learning_blog_app:new_topic' %}" role="button">Add a new topic</a></div>
    </h1>
{% endblock header %}

{% block content_main %}


<ul class="list-group">
    {% for topic, num in topics_num_list %}
        <li class="list-group-item">
            <a href="{% url 'learning_blog_app:topic' topic.id %}"><b>{{ topic }}</b></a>
            <a class="btn btn-default btn-xs" href="{% url 'learning_blog_app:topic' topic.id %}" role="button">View &raquo;</a>
            
            <script>
                function clicked(e)
                {   
                    if(!confirm('Are you sure?'))
                    {   
                        e.preventDefault();
                    }
                }
            </script>
            
            <a class="btn btn-default btn-xs" onclick="clicked(event);" href="{% url 'learning_blog_app:delete_topic' topic.id  %}" role="button">delete</a>
            <span class="badge">{{ num }}</span>
        </li>
    {% empty %}
        Please add topics.
    {% endfor %}
</ul>

{% endblock content_main %}